
@charset "utf-8";
    
body{
   margin: 50px;
  position: fixed;
    background:#FFFDD0;

}

#taitoru{
    font-size:70px;
    text-align: center;
    background-color: black;
    color: deeppink;
    padding: 10px;
    margin: 0%;
    border-radius:15px;
}
.mondaibun{
    font-size: 30px;
    font-family: "Yu Mincho";
    display: flex;
   
}
#one{
  font-size: 20px;
  display: flex;
}

#two{ 
    font-size: 20px;
    display: flex;
}
#three{
    font-size: 20px;
    display: flex;
}

