@charset "utf-8";
    
body{
    margin: 50px;
    background:#FFFDD0;

}

#taitle{
    font-size:100px;
    display: flex;
  align-items: center;
  justify-content: center;
}
.mondai{
    font-size: 50px;
    font-famyly: "Yu Mincho";
     display: flex;
  align-items: center;
  justify-content: center;
   
}
.toi{
    font-size: 50px;
     display: flex;
  align-items: center;
  justify-content: center;

    
}
#one{
    font-size: 50px;
     display: flex;
  align-items: center;
  justify-content: center;
}

#two{ font-size: 50px;
     display: flex;
  align-items: center;
  justify-content: center;   
}
#three{
    font-size: 50px;
     display: flex;
  align-items: center;
  justify-content: center;  
}

