@charset "utf-8";
    
body{
    margin: 50px;
    background:#FFFDD0;

}

#taitle{
    font-size:100px;
    display: flex;
  align-items: center;
  justify-content: center;
}
.mondai{
    font-size: 50px;
    font-famyly: "Yu Mincho";
     display: flex;
  align-items: center;
  justify-content: center;
   
}
.toi{
    font-size: 25px;
     display: flex;
  align-items: center;
  justify-content: center;
}

