@charset "utf-8";
    
body{
    margin: 10px;
    background: linear-gradient(to right,#e60000,#f39800,#fff100,#009944,#0068b7,#1d2088,#920783);

}
.mondai{
    font-size: 30px;
    font-famyly: "Yu Mincho";
    align-items: center;
    justify-content: center;
}
.toi{
    font-size: 25px;
    align-items: center;
    justify-content: center;
}

